<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Job Posting</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active">Job Posting </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Card with header and footer -->
    <div class="card">
        <div class="card-header">Job Title</div>
        <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, eum dolore cumque illum repellat a et quasi iste accusantium reiciendis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi ipsum facilis aut quas delectus earum est necessitatibus molestias laboriosam veritatis?
        </div>
                <!-- List group With Icons -->
                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-geo-alt-fill"></i> Location : </li>
                    <li class="list-group-item"><i class="bi bi-building"></i>Company name :</li>
                    <li class="list-group-item"><i class="bi bi-card-text"></i> Contract : </li>
                    <li class="list-group-item"><i class="bi bi-calendar"></i> Job Type : Part Time</li>
                    <li class="list-group-item"><i class="bi bi-coin"></i> Salary Range : </li>
                    <li class="list-group-item"><i class="bi bi-list-stars"></i> Required Skills : </li>
                    <li class="list-group-item"><i class="bi bi-list-stars"></i> Preferred Skills : </li>
                    <li class="list-group-item"><i class="bi bi-bag-check"></i> Experience Requirements : </li>
                    <li class="list-group-item"><i class="bi bi-card-checklist"></i>  Qualifications : </li>
                </ul><!-- End List group With Icons -->

    </div><!-- End Card with header and footer -->