<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/jobseeker-dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading">Pages</li>

        <!-- Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/jobseeker-profile">
                <i class="bi bi-caret-down-fill"></i>
                <span>Profile</span>
            </a>
        </li>
        <!-- End Profile Page Nav -->

        <!-- Skills Page Nav -->
        <li class="nav-item ">
            <a class="nav-link collapsed" href="/jobseeker-skills">
                <i class="bi bi-caret-down-fill"></i>
                <span>Skills</span>
            </a>
        </li>
        <!-- End Skills Page Nav -->

        <!-- Education Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/jobseeker-education">
                <i class="bi bi-caret-down-fill"></i>
                <span>Education</span>
            </a>
        </li>
        <!-- End Education Page Nav -->

        <!-- Experiance Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/jobseeker-experiance">
                <i class="bi bi-caret-down-fill"></i>
                <span>Experiance</span>
            </a>
        </li>
        <!-- End Experiance Page Nav -->

        <!-- Job Posting Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/job-posting">
                <i class="bi bi-caret-down-fill"></i>
                <span>Job Posting</span>
            </a>
        </li>
        <!-- End Job Posting Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/contact-admin">
                <i class="bi bi-caret-down-fill"></i>
                <span>Contact Admin</span>
            </a>
        </li>
        <!-- End Contact Admin Page Nav -->
    </ul>

</aside><!-- End Sidebar-->