<!-- ======= Header ======= -->
<header id="header" class="header  fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="" class="logo d-flex align-items-center">
      <img src="/assets/img/logo.png" alt="">
      <span>JaafRecruit</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="getstarted scrollto" href="/register">Register</a></li>
        <li><a class="getstarted scrollto" href="/login">Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center z-1">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 style="margin-top: 80px;font-size: 38px;" class="z-3" data-aos="fade-up">We offers customized recruitment
          solutions to boost your business.</h1>
        <h2 data-aos="fade-up" data-aos-delay="400"> Our platform offers a comprehensive suite of services designed to
          streamline your hiring process and connect you with top talent efficiently.</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="/assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<!-- <main id="main"> -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row">
        
        <div class="col-lg-6 d-flex flex-column justify-content-center" >
          <div class="content">
            <h3>About Our Recruitment Services</h3>
            <h2>Connecting Talent with Opportunities</h2>
            <p>
              At JaafRecruit, we specialize in bridging the gap between employers and job seekers. Our mission is to
              streamline the recruitment process and help both parties find their perfect match. Whether you're a
              company looking for top talent or a candidate searching for your dream job, we've got you covered.
            </p>
            <p>
              Our platform offers a range of services including job posting, candidate profile creation, recruiter
              profiles, and skill tracking. We understand the importance of finding the right fit, and our comprehensive
              tools and resources make the process efficient and effective.
            </p>
            <!-- <div class="text-center text-lg-start">
              <a href="#"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/img/about.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Services</h2>
        <p style="font-size: 30px;">Streamline job postings, manage profiles, and track skills.</p>
      </header>

      <div class="row">

        <div class="card col-lg-5 mb-3">
          <img src="/assets/img/values-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Job Posting</h5>
            <p class="card-text">Easily post job opportunities with detailed descriptions and specifications. <br>
              Manage applications seamlessly.</p>
          </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="card col-lg-5 mb-3">
            <img src="/assets/img/values-2.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Candidate Profiles</h5>
            <p class="card-text">Create comprehensive profiles for job seekers. <br>
              Showcase skills, education, and experience</p>
          </div>
        </div>

        <div class="card col-lg-5 mb-3">
            <img src="/assets/img/values-2.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Recruiter Profiles</h5>
            <p class="card-text">Establish detailed profiles for recruiters and companies. <br>
              Highlight company information, including industry, size, and social media links.</p>
          </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="card col-lg-5 mb-3">
            <img src="/assets/img/values-3.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Skill Tracking</h5>
            <p class="card-text">Track required and preferred skills for job postings.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->


<!-- </main>End #main -->