<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Experience</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html">profile</a></li>
                <li class="breadcrumb-item active">experience</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-12">
                <div class="row">
                    <button class="col-3 btn btn-primary align-items-right addbutton" (click)="openAddExperienceModal()">Add New</button>
                    <!-- Experience -->
                    <div class="col-12">
                        <div class="card job-applications overflow-auto">
                            <!-- Experience List -->
                            <div>
                                <h2></h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Job Title</th>
                                            <th>Description</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let experience of experienceData">
                                            <td>{{ experience.companyName }}</td>
                                            <td>{{ experience.jobTitle }}</td>
                                            <td>{{ experience.description }}</td>
                                            <td>{{ experience.startDate | date }}</td>
                                            <td>{{ experience.endDate | date }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-primary" (click)="openUpdateExperienceModal(experience)">Update</button>
                                                <button class="btn btn-sm btn-danger delbutton" (click)="deleteExperience(experience.id)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Experience List -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>

    <!-- Add Experience Modal -->
    <div class="modal fade" id="addExperienceModal" tabindex="-1" aria-labelledby="addExperienceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExperienceModalLabel">Add Experience</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addExperienceForm" (ngSubmit)="addExperience(addExperienceForm.value)" novalidate>
                        <div class="mb-3">
                          <label for="companyName" class="form-label">Company Name</label>
                          <input type="text" class="form-control" id="companyName" formControlName="companyName">
                        </div>
                        <div class="mb-3">
                          <label for="jobTitle" class="form-label">Job Title</label>
                          <input type="text" class="form-control" id="jobTitle" formControlName="jobTitle">
                        </div>
                        <div class="mb-3">
                          <label for="description" class="form-label">Description</label>
                          <textarea class="form-control" id="description" formControlName="description"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="startDate" class="form-label">Start Date</label>
                          <input type="date" class="form-control" id="startDate" formControlName="startDate">
                        </div>
                        <div class="mb-3">
                          <label for="endDate" class="form-label">End Date</label>
                          <input type="date" class="form-control" id="endDate" formControlName="endDate">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Experience</button>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeAddModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Experience Modal -->
    <div class="modal fade" id="updateExperienceModal" tabindex="-1" aria-labelledby="updateExperienceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateExperienceModalLabel">Update Experience</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="updateExperienceForm" (ngSubmit)="updateExperience(updateExperienceForm.value)" novalidate>
                        <div class="mb-3">
                          <label for="companyName" class="form-label">Company Name</label>
                          <input type="text" class="form-control" id="companyName" formControlName="companyName">
                        </div>
                        <div class="mb-3">
                          <label for="jobTitle" class="form-label">Job Title</label>
                          <input type="text" class="form-control" id="jobTitle" formControlName="jobTitle">
                        </div>
                        <div class="mb-3">
                          <label for="description" class="form-label">Description</label>
                          <textarea class="form-control" id="description" formControlName="description"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="startDate" class="form-label">Start Date</label>
                          <input type="date" class="form-control" id="startDate" formControlName="startDate">
                        </div>
                        <div class="mb-3">
                          <label for="endDate" class="form-label">End Date</label>
                          <input type="date" class="form-control" id="endDate" formControlName="endDate">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Experience</button>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
