<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html">profile</a></li>
                <li class="breadcrumb-item active">education</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-12">
                <div class="row">
                    <button class="col-3 btn btn-primary align-items-right addbutton" (click)="openAddEducationModal()">Add New</button>

                    <!-- Job Applications -->
                    <div class="col-12">
                        <div class="card job-applications overflow-auto">

                            <!-- filter -->
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div>
                                <h2></h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Degree</th>
                                            <th>Institution</th>
                                            <th>Graduation Year</th>
                                            <th>Actions</th> <!-- Add a new column for actions -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let education of educations">
                                            <td>{{ education.id }}</td>
                                            <td>{{ education.degree }}</td>
                                            <td>{{ education.institution }}</td>
                                            <td>{{ education.graduationYear | date }}</td>
                                            <td>
                                                <!-- Add update and delete buttons -->
                                                <button class="btn btn-sm btn-primary" (click)="openUpdateEducationModal(education)">Update</button>
                                                <button class="btn btn-sm btn-danger delbutton" (click)="deleteEducation(education.id)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Recent Sales -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>

    <!-- Add Education Modal -->
    <div class="modal fade" id="addEducationModal" tabindex="-1" aria-labelledby="addEducationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEducationModalLabel">Add Education</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addEducationForm" (ngSubmit)="addEducation(addEducationForm.value)" novalidate>
                        <div class="form-group">
                           <label for="degree">Degree</label>
                           <input type="text" formControlName="degree" class="form-control" id="degree" [ngClass]="{ 'is-invalid': submitted && addEducationForm.controls['degree'].errors }" />
                           <div *ngIf="submitted && addEducationForm.controls['degree'].errors" class="invalid-feedback">
                             Degree is required.
                           </div>
                        </div>
                       
                        <div class="form-group">
                           <label for="institution">Institution</label>
                           <input type="text" formControlName="institution" class="form-control" id="institution" [ngClass]="{ 'is-invalid': submitted && addEducationForm.controls['institution'].errors }" />
                           <div *ngIf="submitted && addEducationForm.controls['institution'].errors" class="invalid-feedback">
                             Institution is required.
                           </div>
                        </div>
                       
                        <div class="form-group">
                           <label for="graduationYear">Graduation Year</label>
                           <input type="date" formControlName="graduationYear" class="form-control" id="graduationYear" [ngClass]="{ 'is-invalid': submitted && addEducationForm.controls['graduationYear'].errors }" />
                           <div *ngIf="submitted && addEducationForm.controls['graduationYear'].errors" class="invalid-feedback">
                             Graduation Year is required.
                           </div>
                        </div>
                       
                        <div class="form-group">
                           <button type="submit" class="btn btn-primary" [disabled]="addEducationForm.invalid">Add Education</button>
                        </div>
                       </form>
                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="closeAddModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Education Modal -->
    <div class="modal fade" id="updateEducationModal" tabindex="-1" aria-labelledby="updateEducationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEducationModalLabel">Update Education</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="updateEducationForm" (ngSubmit)="updateEducation(updateEducationForm.value)" novalidate>
                        <div class="form-group">
                           <input type="hidden" formControlName="id" id="id">
                        </div>
                       
                        <div class="form-group">
                           <label for="degree">Degree</label>
                           <input type="text" formControlName="degree" class="form-control" id="degree" [ngClass]="{ 'is-invalid': submitted && addEducationForm.controls['degree'].errors }" />
                           <div *ngIf="submitted && addEducationForm.controls['degree'].errors" class="invalid-feedback">
                             Degree is required.
                           </div>
                        </div>
                       
                        <div class="form-group">
                           <label for="institution">Institution</label>
                           <input type="text" formControlName="institution" class="form-control" id="institution" [ngClass]="{ 'is-invalid': submitted && updateEducationForm.controls['institution'].errors }" />
                           <div *ngIf="submitted && addEducationForm.controls['institution'].errors" class="invalid-feedback">
                            Institution is required.
                           </div>
                        </div>
                       
                        <div class="form-group">
                           <label for="graduationYear">Graduation Year</label>
                           <input type="date" formControlName="graduationYear" class="form-control" id="graduationYear" [ngClass]="{ 'is-invalid': submitted && updateEducationForm.controls['graduationYear'].errors }" />
                           <div *ngIf="submitted && addEducationForm.controls['graduationYear'].errors" class="invalid-feedback">
                            Graduation Year is required.
                           </div>
                        </div>
                       
                        <div class="form-group">
                           <button type="submit" class="btn btn-primary" [disabled]="updateEducationForm.invalid">Update Education</button>
                        </div>
                       </form>
                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</main><!-- End #main -->